<% return unless defined?(product_review) && product_review.present? %>
<div class="mx-auto py-8">
  <div class="review-form-container mb-8 p-4 border border-gray-200 rounded-md shadow-sm">
    <% if product_review.approved? %>
      <p class="text-sm text-green-600 mb-4">
        <%= section&.preferred_heading_review_approved.presence || "Thanks for your review!" %>
      </p>
    <% else %>
      <p class="text-sm text-gray-600 mb-4">
        <%= section&.preferred_heading_pending_review.presence || "Thanks for your review! It is currently pending approval." %>
      </p>
    <% end %>
    <%= render "spree/product_reviews/review", product_review: product_review %>
  </div>
</div>